@charset "utf-8";
/* MagazineB 공통 기능 디자인 - common.css */
/* 

/* 
    공통기능: 상단영역(로고, 메뉴, GNB)
            하단영역(하단로고, 회사정보)
*/

/* 1.상단영역 */
#top{/* 상단 최상위 부모박스 */
    position: relative;
    z-index: 999;
    /* 최상단에 오게 하도록 */
}
.top{
    background-color: pink;
}
/* 2.메인영역 */
/* 3.하단영역 */